<html>
  <head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      body {
          background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)),url('https://www.medellinherald.com/media/k2/items/cache/62fb5f1024529266c6e71c0c0c9ddb3c_XL.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
      }

    </style>

  </head>

  <body>
    {% block content %}
    <br><center>
      <h1 style="color:white;">Sistemas de ecuaciones lineales</h1>
      <a href="/" class="btn btn-primary">Inicio</a>
      <a href="/sistemasDeEcuaciones" class="btn btn-primary">Métodos del capítulo</a>
    </center><br><br>

    <div class="container">

      <form method="POST" action="/LUPP">

	<div class="card">
  	  <div class="card-body">

	    <div class="row">

	      <div class="col">
		<h3>LU con pivoteo parcial</h3>
	      </div>
	      <div class="col">
		<button class="btn btn-link">¿Cómo funciona el método?</button>
	      </div>

	    </div>
      <p>
        <p>Dada la ecuación matricial</p>
        <p>Ax=LUx=b</p>
        <p>Queremos la solución para un determinando A y b. Los pasos son los siguientes:</p>
        <p><li>Primero, resolvemos para Ly=b</li>
        <li>Segundo, resolvemos  Ux= y para x.</li>
        </p>
        <p>Nótese que ya tenemos las matrices L y U. La ventaja de este método es que es
          computacionalmente eficiente, porque podemos elegir el vector b que nos parezca
          y no tenemos que volver a hacer la eliminación de Gauss cada vez.</p>
        <p>Al utilizar la técnica de triangulación de Gauss para obtener la descomposición
          L-U de una matriz A podemos encontrarnos con el mismo problema de encontrar un
          coeficiente en la diagonal que sea 0 o un mal condicionamiento. Podemos entonces
          utilizar la misma técnica de pivotación: buscar el siguiente elemento en la columna
          que sea distinto de 0 o, mejor aún, el de mayor valor absoluto.</p>
        <p>Pero una vez obtenida la descomposición L-U, si queremos aplicarla a resolver un
          sistema de ecuaciones, tendremos que tener en cuenta la “historia” o registro de las
          pivotes efectuadas para aplicar al vector de términos independientes.</p>
        <p>Esto se realiza mediante la matriz de permutación P, que consiste en efectuar
          sobre la matriz identidad, las mismas permutaciones de filas que se vayan efectuando
          sobre la matriz que se está triangulando por Gauss.</p>
        <p>Al mismo tiempo se efectúan las mismas permutaciones sobre los elementos
          subdiagonal de la matriz L.</p>
      </p>

	    <hr>

	    <div class="row">

	      <div class="col">

		<label> Matriz de coeficientes: </label><br>
		<textarea rows="4" cols="50" name="txtA"></textarea>

	      </div>

	      <div class="col">

		<label> Vector de términos independientes: </label><br>
		<input type="text" name="txtB">

		<br><br>



		<input type="submit" type="button" class="btn btn-primary" value="Ejecutar">

	      </div>

	    </div>

	  </div>
	</div>

      </form>

      <div class="card">
        <div class="card-body">
          	<div class="alert alert-success" role="alert"> {{ mensaje }} </div>

                <table class="table table-bordered table-sm">
		  <tr>
		    <th>Solución</th>
		  </tr>

		  {% for i in resultado %}
		  <tr>
		    <td>{{i}}</td>
		  </tr>
		  {% endfor %}
		</table>

          <h2>Sustitucion Regresiva</h2>
          <p>{{sus}}</p>
        </div>
      </div>
      <script>

	function ayuda() {

	  alert("Ayuda del método.");

	}

      </script>
      {% endblock %}
  </body>
</html>
