<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<style>
        	body {
          		background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)),url('https://www.medellinherald.com/media/k2/items/cache/62fb5f1024529266c6e71c0c0c9ddb3c_XL.jpg');
                       	background-repeat: no-repeat;
                       	background-attachment: fixed;
                       	background-size: 100% 100%;
                     }

      	</style>

	</head>

<body>

	<br><center>
		<h1 style="color:white;">Sistemas de ecuaciones lineales</h1>
		<a href="/" class="btn btn-primary">Inicio</a>
		<a href="/sistemasDeEcuaciones" class="btn btn-primary">Métodos del capítulo</a>
	</center><br><br>

	<div class="container">

		<form method="POST" action="/SOR">

		<div class="card">
  		<div class="card-body">

			<div class="row">

				<div class="col">
					<h3>SOR (Gauss Seidel relajado).</h3>
				</div>
				<div class="col">
					<button class="btn btn-link">¿Cómo funciona el método?</button>
				</div>

			</div>
			<p>
				<p>Este método intenta mejorar la convergencia del método de Gauss- Seidel mediante el refinamiento de la aproximación actual.</p>
				<p>Se crea un parámetro “w” como ponderación entre las aproximaciones, es decir, la actual y la anterior.</p>
				<p>
				<p>En este sentido el valor de w se utiliza según las siguientes condiciones:</p>
					<li>Si w=1 el factor (1-w) se hace cero, en este caso decimos que no hay relajación. Lo que significa que el método cuando w=1, es el mismo de Gauss-Seidel.</li>
					<li>Si 0 < w < 1, el valor definitivo de la aproximación de la componente “i” en la etapa “k” está entre los valores del exponente de xi (k) y (k-1), dependiendo del valor de w el resultado será más próximo a uno de los dos valores. Cuando se utiliza este valor se denomina método de sub-relajación y se emplea para obtener la convergencia en algunos sistemas que no so convergentes por el método de Gauss-Seidel. </li>
					<li>Si 1 < w < 2, el valor definitivo de la aproximación de la componente “i” de la etapa “k” está próximo al exponente de xi (k) pero no está entre los valores del exponente de xi (k) y (k-1). Este método se conoce como sobre-relajación y se utiliza para acelerar la convergencia de sistemas que son convergentes y lentos con el método de Gauss-Seidel.</li>
				</p><p>
				<p>Ventajas</p>
					<li>Proporciona mayor probabilidad de convergencia para los sistemas.</li>
					<li>Da mayor rapidez que Gauss-Seidel a algunos de los métodos.</li>
				</p>
				<p>Desventajas</p>
					<li>Solo se puede sub-relajar o sobre-relajar en un 100%.</li>
			</p>
			<hr>

			<div class="row">

				<div class="col">

					<label> Matriz de coeficientes: </label><br>
                    <textarea rows="4" cols="50" name="txtA"></textarea>
                    <br><br>
                    <label> Vector de términos independientes: </label><br>
                    <input type="text" name="txtB">
                    <br><br>
                    <label> Vector x0 inicial: </label><br>
                    <input type="text" name="txtX0">

				</div>

				<div class="col">
                    <label> W (Coeficiente de relajación): </label><br>
                    <input type="text" name="txtW">
                    <br><br>
                    <label> Tolerancia: </label><br>
                    <input type="text" name="txtTolerancia">
                    <br><br>
                    <label> Máximo de iteraciones:: </label><br>
                    <input type="text" name="txtMaximoIteraciones">
                    <br><br>

					<input type="submit" type="button" class="btn btn-primary" value="Ejecutar">

				</div>

			</div>

		</div>
		</div>

		</form>
		{% block content %}
		{% if mensaje %}
			
			<div class="card">
				<div class="card-body">
					
					{% if tipo %}

						<div class="alert alert-success" role="alert"> {{ mensaje }} </div>

					{% else %}

						<div class="alert alert-danger" role="alert"> {{ mensaje }} </div>
					
					{% endif %}
					
					<table class="table table-bordered table-sm">
						<tr>
							<th>i</th>
							<th>b</th>
							<th>Error</th>
						</tr>

						{% for i in range(0, numFilas) %}
							<tr>
								{% for j in range(0,3) %}
									<td>{{tabla[i][j]}}</td>
								{% endfor %}
							</tr>
						{% endfor %}
						
					</table>

				</div>
			</div>

		{% endif %}
		{% endblock %}


	</div>

	<script>

		function ayuda() {

			alert("Ayuda del método.");

		}

	</script>

</body>
</html>
