<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<style>
        	body {
          		background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)),url('https://www.medellinherald.com/media/k2/items/cache/62fb5f1024529266c6e71c0c0c9ddb3c_XL.jpg');
                       	background-repeat: no-repeat;
                       	background-attachment: fixed;
                       	background-size: 100% 100%;
                     }

      	</style>

	</head>

	<body>

		{% block content %}
		<br><center>
			<h1 style="color:white;">Interpolación</h1>
			<a href="/" class="btn btn-primary">Inicio</a>
			<a href="/interpolacion" class="btn btn-primary">Métodos del capítulo</a>
		</center><br><br>

		<div class="container">

			<form method="POST" action="/diferenciasDivididasNewton">

                        <div class="card">
                        <div class="card-body">

			<div class="row">

				<div class="col">
					<h3>Newton con diferencias divididas.</h3>
				</div>
				<div class="col">
					<a href="">¿Cómo funciona el método?</a>
				</div>

			</div>
			<p>Las diferencias divididas se utilizan para hallar los coeficientes del polinomio de interpolación de
				Newton. La interpolación se utiliza para hacer una aproximación a la función que pasa por una nube de puntos.</p>
				<p>
					<p>Pasos a seguir:</p>
					<li>Se debe organizar la nube de puntos de menor a mayor en las “x”.</li>
					<li>El primero coeficiente es la imagen del primer punto, el segundo es la pendiente entre el
						primer y el segundo punto, el tercero es la diferencia dividida entre la primera pendiente y
						la pendiente entre el segundo y tercer punto, y así sucesivamente.</li>
				</p><p>
					<p>Ventajas:</p>
					 <li>Se pueden agregar puntos a medida de que van surgiendo y no afectan los coeficientes
						 anteriormente calculados.</li>
					 <li>El programa es útil y de fácil implementación.</li>
				 </p><p>
					<p>Desventajas:</p>
						<li>La función de aproximación no es la más precisa ni suave.</li>
						<li>Hay métodos mejores y más exactos de interpolación.</li>
					</p>
			<hr>

			<div class="row">

                                <div class="col">
                                        <label>Valores X:</label><br>
                                        <input type="text" name="txtX">
                                </div>

                                <div class="col">
                                        <label>Valores Y:</label><br>
                                        <input type="text" name="txtY">
                                </div>

                                <div class="col">
                                        <label>Evaluar en:</label><br>
                                        <input type="text" name="txtXEval">
                                </div>

				<div class="col">
					<br> <input type="submit" class="btn btn-primary" value="Ejecutar">
                                </div>

                        </div>

                        </div>
                        </div>

                        </form>


		<center>

		{% if repetidoX %}

		<div class="card">
  		<div class="card-body">

		<label>Valores X: {{x}}</label><br>
		<label>Valores Y: {{y}}</label>

		<div class="alert alert-success" role="alert"> p({{xEval}}) evaluado en el polinomio interpolante de Newton es igual a {{ yEval }}. </div>

		<label>El conjunto de valores de b, que determinan el polinomio interpolante de Newton con diferencias divididas, de grado a lo sumo {{n}} es:</label> <br>

		<label> {{b}} </label>
		<br><br>
		<label>El polinomio de newton expandido es: </label><br>
		<label>{{polExp}}</label>
		<br><br>
		<label>El polinomio de newton simplificado es: </label><br>
		<label>{{polSim}}</label>

		</div>
		</div>


                {% else %}
                {% if form %}
                <div class="alert alert-danger" role="alert"> El vector x tiene elemetos repetidos</div>
                {% endif %}
                {% endif %}
	        {% endblock %}
		</center>

		</div>

	</body>
</html>
